.globalPresenceContainer {
  padding: 20px 24px 40px;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #e8e8e8;
}

.globalPresenceHeading {
  font-weight: 800;
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #4a4a4a;
  letter-spacing: 1px;
}

.countryName {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
  color: #737373;
  font-size: 12px;
  text-transform: uppercase;
}

.numbers {
  color: #da4e52;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.para {
  width: 180px;
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 1.5;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .globalPresenceContainer {
    width: 95%;
  }
}
